.app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.app .app-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.app .app-bg-cover {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
}

.app .app-home {
    position: absolute;
    z-index: 111;
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform ease .4s;
    transform: scale(1);
    align-items: center;
    justify-content: center;
}

.app .app-operation {
    position: absolute;
    z-index: 222;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all ease .3s;
    border-radius: 100%;
    background-color: rgba(0,0,0,.15);
    background-image: url('../imgs/infinity.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.app .app-operation:hover {
    transform: scale(1.06);
}

.app .app-change-wrapper {
    position: absolute;
    z-index: 120;
    right: 20px;
    bottom: 0;
    visibility: hidden;
    width: 40px;
    height: 60px;
}

.windmill-img {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 40px;
    cursor: pointer;
    transition: all 3s linear;
}

.windmill-img.rotate {
    animation: rotateWindmill .9s linear infinite;
}

@keyframes rotateWindmill {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.windmill-rect {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 18px;
    width: 5px;
    height: 30px;
    transition: all .6s linear;
    background-color: #fefefe;
}

.app-cover {
    position: fixed;
    z-index: 600;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.app-slideBox {
    position: absolute;
    z-index: 2220;
    right: -460px;
    overflow: hidden;
    width: 460px;
    height: 100%;
    transition: transform .45s ease;
    background-color: #eaeaea;
}

.slide-show {
    transform: translateX(-460px)
}

.slide-box-shadow {
    box-shadow: #555 0 0 8px;
}

#searchAdd {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.search-add-background {
    position: fixed;
    display: none;
    z-index: 600;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.app-info-box {
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    animation: fadeIn .3s ease;
    animation-fill-mode: backwards;
    color: #555;
    padding: 8px;
}

.info-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.contextMenu {
    position: fixed;
    z-index: 599;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    border-radius: 4px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
}

.contextMenu ul {
    list-style: none;
}

.contextMenu ul li {
    font-size: 13px;
    line-height: 30px;
    position: relative;;
    height: 30px;
    padding: 5px 20px;
    cursor: pointer;
    transition: all .2s linear;
    white-space: nowrap;
    box-sizing: content-box;
    color: #555;
}

.contextMenu ul li:hover {
    cursor: pointer;
    background: #f1f1f1;
}