.home-box {
    position: relative;
    z-index: 222;
    display: flex;
    flex-direction: column;
    width: 1300px;
    align-items: center;
    justify-content: center;
}
.home-box .home-Search {
    display: flex;
    width: 100%;
    height: 160px;
    justify-content: center;
    align-items: flex-start;
}
.homeBox .home-main {
    position: relative;
    width: 100%;
}

