.search-box {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 715px;
    height: 122px;
    justify-content: space-around;
}

.search-type-box {
    display: flex;
    height: 30px;
    margin-bottom: 16px;
    margin-left: 18px;
}

.search-type {
    font-size: 19px;
    font-weight: 500;
    margin-right: 60px;
    list-style: none;
    cursor: pointer;
    transition: all ease .2s;
    letter-spacing: 1px;
    text-shadow: none;
    color: rgba(255,255,255,0.5);
}

.search-type.selected {
    color: #fff !important;
}

.search-input-box {
    position: relative;
    overflow: visible;
    width: 715px;
    height: 66px;
}

.search-input {
    font-size: 20px;
    font-weight: 500;
    width: 715px;
    height: 66px;
    padding: 11px 20px 11px 74px;
    color: #999;
    border: transparent;
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    transition: background-color .2s;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
}
.search-button {
    position: absolute;
    top: 0;
    right: -2px;
    display: none;
    width: 74px;
    height: 66px;
    cursor: pointer;
    transition: all ease .4s;
    border: none;
    border-radius: 0 3px 3px 0;
    outline: 0;
    background-color: #00ce6d;
    background-image: url('../imgs/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.search-choice {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 72px;
    height: 66px;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
    align-items: center;
    justify-content: center;
}

.search-choice:hover {
    background-color: rgba(0,0,0,.05);
}

.search-logo {
    height: 32px;
    margin-left: 6px;
}

.search-arrow-down {
    height: 8px;
    margin-left: 5px;
}

.search-cover {
    position: fixed;
    z-index: 130;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.fadeIn {
    animation: fadeIn .2s ease;
    animation-fill-mode: backwards;
}

.fadeOut {
    animation: fadeOut .2s ease;
    animation-fill-mode: backwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.search-select-box {
    position: fixed;
    z-index: 500;
    /*display: flex;*/
    display: none;
    overflow: hidden;
    width: 714px;
    height: auto;
    margin-top: 20px;
    border-radius: 3px;
    background-color: #fff;
    flex-wrap: wrap;
}

.search-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 6);
    height: 138px;
    cursor: pointer;
    transition: all ease .2s;
    box-shadow: 0 1px 0 #f3f3f3, -1px 0 0 #f3f3f3;
    align-items: center;
    justify-content: center;
}

.search-item:hover {
    z-index: 100;
    background-color: rgba(0,0,0,.04);
    box-shadow: 0 -1px 0 #f3f3f3, 0 0 0 #f3f3f3, 0 0 0 #f3f3f3;
}

.search-item-addBtn {
    box-shadow: 0 1px 0 #f3f3f3, -1px 0 0 #f3f3f3, 1px 0 0 #f3f3f3;
}

.search-add-out {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.search-item-img {
    height: 50px;
    margin-bottom: 10px;
}

.search-item-img.search-item-add {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
}

.search-item-name {
    font-size: 18px;
    font-weight: 100;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    color: #999;
}