.search-slide-box {
    position: absolute;
    width: 100%;
    height: 100%;
}
.search-slide-box .slide-title {
    width: 100%;
    height: 79px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.search-slide-title {
    cursor: default;
    color: #333;
    font-size: 20px;
    font-weight: 400;
}

.search-add-tabs {
    font-size: 0;
}

.search-add-tab {
    font-size: 14px;
    line-height: 1;
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 6px;
    cursor: pointer;
    vertical-align: top;
    color: #8f8f8f;
    border: none;
    border-radius: 0;
    background-color: #d8d8d8;
}

.search-add-tab.active {
    cursor: default;
    color: #222;
    background-color: #eaeaea;
}

.search-add-tab:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 6px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
}

.search-add-tab.active:after {
    background-color: #0099ff;
}

.search-tab-content {
    height: calc(100% - 122px)
}

.search-add-default {
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    padding: 0 20px 20px;
}

.search-add-default .search-item-slide {
    display: flex;
    min-height: 106px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}


.search-item-logo-wrapper {
    position: relative;
    width: 60px;
    margin-right: 24px;
    flex: none;
}

.search-item-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 60px;
    max-height: 60px;
    transform: translate(-50%, -50%);
}

.search-item-slide.added .search-item-logo {
    opacity: .6;
}

.search-item-content {
    position: relative;
    flex: 1 1 0;
}

.search-item-title {
    font-size: 14px;
    line-height: 1;
    margin-top: 4px;
    margin-bottom: 12px;
    color: #222;
}

.search-item-slide.added .search-item-title {
    color: #ddd;
}

.search-item-desc {
    font-size: 13px;
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    padding-right: 24px;
    text-overflow: ellipsis;
    word-break: break-all;
    color: #8f8f8f;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.search-item-slide.added .search-item-desc {
    color: #ddd;
}

.search-item-operate-area {
    position: absolute;
    top: 0;
    right: 0;
}

.search-item-btn {
    height: 20px;
    margin-top: -3px;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color ease .2s;
    color: #0099ff;
    border: none;
    border-radius: 2px;
    background-color: transparent;
}

.search-item-slide.added .search-item-btn {
    display: none;
}

.search-item-btn:hover {
    background-color: rgba(0,0,0,.1);
}

.search-item-slide:not(.added) .search-add-tip {
    display: none;
}

.search-add-tip {
    font-size: 12px;
    line-height: 20px;
    color: #bbb;
}

.search-add-custom {
    height: 100%;
}

.search-add-custom-list {
    height: 100%;
    padding-top: 20px;
}

.search-create-custom-btn {
    font-size: 14px;
    line-height: 1;
    display: block;
    width: calc(100% - 40px);
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: pointer;
    transition: all .2s ease;
    color: cornflowerblue;
    border: none;
    border-radius: 20px;
    background-color: #fff;
}

.search-create-custom-btn:hover {
    -webkit-filter: brightness(1.05);
}