.setting-box {
    transform: translateX(1px);
}

.setting-item-wrapper {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
}

.setting-item-title {
    font-size: 15px;
    color: #000;
}

.setting-toggle {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.setting-toggle-text {
    font-size: 13px;
    max-width: 150px;
    color: #666;
}

.setting-text-btn-max-width {
    line-height: 1.6;
    max-width: 250px;
}

.checkbox-toggle {
    position: relative;
    width: 40px;
    height: 26px;
    cursor: pointer;
    transition: all ease .3s;
    border: 2px solid #c2c2c2;
    border-radius: 14px;
    outline: 0;
    -webkit-appearance: none;
}

.checkbox-toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    transition: all ease .3s;
    border-radius: 9px;
    background-color: #c2c2c2;
}

.checkbox-toggle:checked {
    border-color: cornflowerblue;
}

.checkbox-toggle:checked:after {
    transform: translateX(14px);
    background-color: cornflowerblue;
}

.tips {
    font-size: 12px;
    color: #bbb;
}

.setting-add-reduce-box {
    display: flex;
    height: 26px;
}

.setting-add-reduce-box .setting-reduce-add-common {
    position: relative;
    display: flex;
    width: 32px;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: 0;
    align-items: center;
    justify-content: center;
}
.setting-add-reduce-box .setting-reduce-btn {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}

.setting-add-reduce-box .setting-reduce-btn:before {
    position: absolute;
    left: 50%;
    display: inline-block;
    width: 13px;
    height: 2px;
    content: '';
    transform: translate(-50%,-50%);
    background: #aaa;
}

.setting-reduce-add-number {
    display: flex;
    width: 52px;
    height: 100%;
    color: #666;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.setting-add-reduce-box .setting-add-btn {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: cornflowerblue;
}

.setting-add-reduce-box .setting-add-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 13px;
    height: 2px;
    content: '';
    transform: translate(-50%,-50%);
    background: #fff;
}

.setting-add-reduce-box .setting-add-btn:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 2px;
    height: 13px;
    content: '';
    transform: translate(-50%,-50%);
    background: #fff;
}

/* rang 美化*/
input[type=range] {
    -webkit-appearance: none;
    width: 160px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 4px; /*将轨道设为圆角的*/
    background-color: transparent; /*轨道内置阴影效果*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    margin-top: -4px; /*使滑块超出轨道部分的偏移量相等*/
    background: #fff;
    border-radius: 50%; /*外观设置为圆形*/
    box-shadow: 1px 1px 2px 1px #ddd; /*添加底部阴影*/
}

.setting-range-progress {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    float: right;
    width: 160px;
    height: 18px;
}

.setting-range {
    position: absolute;
    z-index: 104;
    top: 5px;
    left: 0;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: 0;
    background: 0 0;
    -webkit-appearance: none;
}

.setting-range:after {
    font-size: 12px;
    line-height: 8px;
    position: absolute;
    right: -38px;
    display: inline-block;
    width: 30px;
    content: attr(data-progress);
    color: cornflowerblue;
}

.setting-range-progress .setting-progress {
    position: absolute;
    z-index: 103;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    outline: 0;
    -webkit-appearance: none;
}

progress::-webkit-progress-inner-element { border-radius: 4px; }
progress::-webkit-progress-value { border-radius: 4px; }
progress::-webkit-progress-bar { border-radius: 4px; }

progress::-moz-progress-bar { background: #0064B4; }
progress::-webkit-progress-bar { background: #e6e6e6; }
progress::-webkit-progress-value  { background: #0064B4; }

/* rang美化 end */

.add-custom-color-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add-custom-color {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 2px;
    list-style: none;
    cursor: pointer;
    border: solid 1px transparent;
    border-radius: 100%;
    background-color: #ccc;
    background-clip: content-box;
}

.reset-btn {
    font-size: 12px;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    width: auto;
    height: 28px;
    padding: 0 22px;
    transition: all ease .2s;
    color: #fff;
    border-radius: 5px;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
}

.no-more {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-more .line {
    height: 2px;
    width: 150px;
    background-color: #ddd;
}

.setting-setlayout-line-box {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.setting-setlayout-item-box {
    cursor: pointer;
}

.setting-setlayout-item-box.active .setting-setlayout-item {
    border: 1px solid #0099ff;
}

.setting-setlayout-item-box.active .setting-setlayout-item-number {
    color: #0099ff;
}

.setting-setlayout-item {
    display: inline-block;
    width: 170px;
    height: 60px;
    border: 1px solid #dadada;
    border-radius: 4px;
    outline: 0;
    background: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.setting-setlayout-item-number {
    text-align: center;
}
